{% load static %}

<div class="custom-theme">
<div class="multilevel-offcanvas off-canvas position-right" id="offCanvasRight" data-off-canvas>

  <ul class="vertical menu" data-accordion-menu>
    <li><a href="{% url 'compose' %}">Compose</a>
    </li>
    <li><a href="{% url 'personalize' %}">Customize SMS</a>
     </li>
     <li><a href="#">Inbox</a>
    </li>
    <li><a href="{% url 'sent' %}">Sent</a>
    </li>
    <li><a href="{% url 'template' %}">Template</a>
    </li>
    <li><a href="{% url 'drafts_list' %}">drafts_list</a>
    </li>
    
    <li><a href="{% url 'logout' %}">Logout</a>
    </li>
   </ul>
</div>

<div class="off-canvas-content" data-off-canvas-content>
  <div class="nav-bar">
      <div class="nav-bar-left">
        <a class="nav-bar-logo"><img class="logo" src="https://placehold.it/150x30"></a>
      </div>
      <div class="nav-bar-right">
        <ul class="menu">
          <li class="hide-for-small-only"><a href="#">HOME</a></li>
          <li class="hide-for-small-only"><a href="#">PRICING</a></li>
          <li class="hide-for-small-only"><a href="#">ABOUT</a></li>
          <li>
          {% if user.is_authenticated %}
          <li>
            <button class="offcanvas-trigger" type="button" data-open="offCanvasRight">
              <span class="offcanvas-trigger-text hide-for-small-only">Menu</span>
              <div class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
              </div>
            </button>
          </li>
          {% endif %}
        </ul>
    </div>
  </div>
 </div>
 </div>
